body {
    font-family: Arial, sans-serif;
    background-image: url(logotipo-do-quiz-com-icone-de-bolha-de-fala_149152-811.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

#start-screen h1 {
    font-size: 2rem;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}